#map_canvas{
	-webkit-filter: blur(2px) grayscale(70%);
	-moz-filter: blur(2px) grayscale(70%);
	-ms-filter: blur(2px) grayscale(70%);
	-o-filter: blur(2px) grayscale(40%);
	filter: blur(2px) grayscale(70%);


}

.angular-google-map-container { 
	width: 100%;
	height: 100%;
  position: absolute;
  display: block;
  z-index: 10 !important;
}

.container{
	z-index: 99999999	;
}

.center{
		z-index: 99999999;
		position: absolute;
		left: 50%;
		top:10%;
}

.box-starter{
	background-color:rgba(39,174,96,0.9);
	width: 60em;
	height: 30em;
	position: relative;
	left: -50%;
	top: 10%;
}