.home{
	background-color: rgba(22,160,133,0.05);

	h1, p{
		color: #171717;
		padding: 0.3em;
	}

	h1{
		font-weight: 300;
	}

	.busqueda{
		padding: 1em 1em;
	}

	.buscador{	
		padding-right: 0px;
	}
}
